### 用户自定义 ###
timeDelta.txt
*.jar
itr/itr-*
### 项目 ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn/
*.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
.iml
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/out/
···
